

$primary-color: #0d6efd;

@import "~bootstrap/scss/bootstrap";
@import "node_modules/react-toastify/scss/main";
@import "./dialog";
@import "./modal";


body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #ececec;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
